# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
ENV/

# Environment variables
.env

# Python version
.python-version

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# Test / coverage reports
.coverage
*.cover
htmlcov/
.tox/
nosetests.xml
coverage.xml
*.pytest_cache/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE-specific files
.idea/
*.iml
